.profile {
  width: 300px;
  border-radius: 4px;
  text-align: center;
  padding-top: 20px;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.avatar {
  border: 1px solid black;
  border-radius: 50%;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.tag,
.location,
.label {
  color: #898989;
  margin-top: 10px;
}

.stats {
  display: flex;
  background-color: #ecebeb;
  margin-top: 15px;
  border-top: 1px solid #898989;
}

.item {
  flex-basis: 33.33333%;
  display: grid;
  padding-bottom: 15px;
}

.item:not(:last-child) {
  border-right: 1px solid #898989;
}

.quantity {
  font-weight: bold;
}
